# Go build
bin/
*.exe
*.test
*.out

# Dependency directories
vendor/

# Editor/IDE
.vscode/
.idea/

# Only ignore service account keys
/config/keys/*.json

# Logs
*.log

# Air tmp
tmp/

# Environment files
.env
