# Go build
bin/
*.exe
*.test
*.out

# Dependency directories
vendor/

# Editor/IDE
.vscode/
.idea/

# Only ignore service account keys
idpproxy-16c9c-4241626f2ef8.json

# Logs
*.log

# Air tmp
tmp/
