name: CI

on:
  pull_request:
    branches: [ main ]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.5'

      - name: Install dependencies
        run: go mod tidy

      - name: Run goimports
        run: |
          go install golang.org/x/tools/cmd/goimports@v0.35.0
          goimports -l .
          test -z "$(goimports -l .)" || (echo 'Please run goimports' && exit 1)

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v5
        with:
          version: v2.2.2

      - name: Run tests
        run: go test ./... -v
