name: CI

on:
  pull_request:
    branches: [ main ]

jobs:
  ci:
    runs-on: ubuntu-latest

    env:
      FERNET_KEY: ${{ secrets.FERNET_KEY }}
      GOOGLE_APPLICATION_CREDENTIALS_BASE64: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS_BASE64 }}
      GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
      GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
      GOOGLE_REDIRECT_URI: ${{ secrets.GOOGLE_REDIRECT_URI }}
      OPENAPI_URL: ${{ secrets.OPENAPI_URL }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.5'

      - name: Install dependencies
        run: go mod tidy

      - name: Run goimports
        run: |
          go install golang.org/x/tools/cmd/goimports@v0.35.0
          imports="$(goimports -l .)"
          if [ -n "$imports" ]; then
            echo "Please run goimports:"
            echo "$imports"
            exit 1
          fi

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v5
        with:
          version: v1.64.8
          args: --timeout 5m --out-format=colored-line-number

      - name: Run tests
        run: go test ./... -v
